body {
    margin: 0;
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
    color: white;
    overflow: hidden;
}

.container {
    margin-top: 120px;
}

.playBtn {
    margin-top: 40px;
    padding: 12px 25px;
    background: white;
    color: #ff4d6d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.candle {
    font-size: 60px;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

.cake {
    font-size: 80px;
    margin-top: 20px;
    display: none;
}

#finalText {
    margin-top: 30px;
    font-size: 30px;
    opacity: 0;
}
