body {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
    color: white;
}

h1 {
    font-size: 22px;
}

.btn {
    margin-top: 30px;
    padding: 12px 25px;
    background: white;
    color: #ff4d6d;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}

/* PHOTO */
.photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 20px;
    opacity: 0;
    transition: 1s;
    border: 3px solid white;
}

/* CANDLE */
.candle {
    font-size: 40px;
    margin-top: 15px;
}

/* CAKE */
.cake {
    font-size: 60px;
    margin-top: 15px;
    display: none;
}

/* LETTER */
#letter {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0;
    transition: 1s;
    white-space: pre-line;
}
