body{
  margin:0;
  text-align:center;
  font-family:Arial;
  background:linear-gradient(to right,#ff9a9e,#fecfef);
  color:white;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:20px;
  background:white;
  color:#ff4d6d;
}

.photo{
  width:150px;
  border-radius:50%;
  margin-top:20px;
}

.envelope{
  font-size:80px;
  margin-top:50px;
}

.cake{
  font-size:70px;
}
